.content: {
	margin-top: 50px;
	padding-top: 50px;
}
#content: {
	margin-top: 50px;
	padding-top: 50px;
}
hr
{
	height: 2px;
	color: #4286f4;
	box-shadow: 2px 2px 15px black;
}
#jj
{
	color: #FFFFFF;
}